EPO_URL=https://epo.sirket.local:8443
EPO_USERNAME=api_compliance
EPO_PASSWORD=degistir
WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ

# true | false | /yol/ca-bundle.pem
EPO_VERIFY_SSL=true

# Opsiyonel
STALE_DAYS=7
TAG_NAME=Outdated_DAT
# ENS kullanıyorsanız core.listTables çıktısına göre değiştirin
DAT_TABLE=EPOProdPropsView_VIRUSCAN
DAT_DATE_COLUMN=datdate
